$color: #68cff1;
:root {
    --before_left: -100%;
}

.myButton {
    border: 0px;
    box-sizing: border-box;
    text-transform: uppercase;

    border-radius: 10rem;
    letter-spacing: 2px;
    color: #fff;

    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin: 5px;
    transition: all 0.75s;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color;
        border-radius: 10rem;
        z-index: -2;
    }
    &::before {
        content: "";
        position: absolute;
        display: block;
        bottom: 0;
        left: var(--before_left);
        width: 100%;
        height: 100%;
        background-color: darken($color, 15%);
        border-radius: 10rem;
        z-index: -1;
    }
}

.buttonAnimate-Leave {
    &::before {
        animation: buttonBeforeAnimateLeave 1s linear 0s 1 normal forwards;
    }
}
.buttonAnimate-Enter {
    &::before {
        animation: buttonBeforeAnimateEnter 0.5s linear 0s 1 normal forwards;
    }
}
@keyframes buttonBeforeAnimateLeave {
    from {
        left: var(--before_left);
        display: block;
    }
    to {
        left: 100%;
        display: none;
    }
}
@keyframes buttonBeforeAnimateEnter {
    from {
        left: -100%;
        display: block;
    }
    to {
        left: 0%;
    }
}
