.myButton {
    background-color: #68cff1;
    border: 0px;
    box-sizing: border-box;
    width: 120px;
    height: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;

    margin: 3px;
    border-radius: 10px;
    transition: all 0.5s;
    &:hover {
        background-color: #5e96a8;
    }
    &:active {
        scale: 0.95;
    }
}
