* {
    padding: 0px;
    margin: 0px;
}
.App {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px 100%;
    grid-template-areas:
        "hd hd hd hd hd"
        "main input input . .";
}

button:hover {
    cursor: pointer;
}
.positionButton {
    grid-area: main;
    width: 150px;
    height: 50px;
}
.divHeader {
    grid-area: hd;
}
.divInputInApp {
    grid-area: input;
    width: 200px;
    height: 30px;
}
